<div class="about">
	<h2>About</h2>
	<ul>
		<li>item1</li>
		<li>item2</li>
		<li>item3</li>
		<li>item4</li>
	</ul>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sed nemo expedita delectus, sapiente eum! Deleniti aspernatur repellat consequuntur, quas earum deserunt et, nobis incidunt neque repellendus tempora natus iste nam, ut culpa itaque dicta odio facilis in nisi perferendis. Voluptas dignissimos accusamus molestias. Expedita sit, cum repellat nostrum modi.</p>
</div>